.wd-search-left {
    border-radius: 30px 0px 0px 30px;
    background-color: white;
    border-right-style: hidden;
}
.wd-search-middle {
    border-radius: 0px 30px 30px 0px;
    background-color: white;
    border-left-style: hidden;
    border-right-style: solid;
}

.wd-search-right {
    color: dodgerblue;
    text-decoration: none;

}

.wd-center-pic {
    width: 100%;
    vertical-align: auto;
}

.wd-bottom-left {
    position: relative;
    bottom: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.wd-starship-position {
    position: relative;
    top: 0px;
    font-size: 30px;
    font-weight: bold;
}

.wd-small-pic {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.wd-grey-small-word {
    font-size: 15px;
    color: rgb(110, 118, 125);
    font-weight: normal;

}

.wd-black-small-word {
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.wd-main-info {
    border: 1px solid lightgray;
    border-top-style: hidden;
    padding: 10px;
}

.wd-img-group {
    position: relative;
    display: inline-block;
}
.wd-img-tip {
    position: absolute;
    bottom: 0;
}

.wd-big-white-text {
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.wd-default-button {
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    margin-top: 5px;
}
.wd-xs-pic {
    border-radius: 30px 30px 30px 30px;
    width: 40px;
    height: 40px;
}

.wd-small-white-word {
    font-size: 14px;
}

.wd-black-bg {
    background-color: lightgoldenrodyellow;
}

.wd-right-bb-word {
    font-size: 13px;
    font-weight: bold;
    color: black;
}

.wd-right-b-word {
    font-size: 13px;
    color: black;
    font-weight: normal;
}

.wd-sm-tw-buttom {
    font-size: 13px;
}

.wd-to-right {
    text-align: right;
}
.wd-bigger-icon {
    font-size: 20px;
}